* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto_regular";
    src: url("../fonts/Roboto/");
}

@font-face {
    font-family: "h&m";
    src: url("../fonts/h&m/HM.ttf");
}

body {
    font-family: "Roboto_regular";
    padding: 10vw;
}

h1 {
    font-family: "h&m";
}

form {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form div {
    padding: 3vh;
}

.categories {
    padding: 0 3vh 3vh 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.categories div {

    display: flex;
    justify-content: center;

    gap: 1rem;
}

#productsOutput {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.productStyle {
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 5vh;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    text-align: left;
    transition: all .2s ease-in-out;
}


.productStyle div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productStyle:hover {
    transform: scale(1.1);
}

h3 {
    height: 7vh;
}

img {
    width: 250px;
    height: 250px;
}

button {
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: black;
}

input[type="text"] {
    border-radius: 5px;
}